@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.wooscp-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.wooscp-search.open {
    opacity: 1;
    visibility: visible;
}

.wooscp-search.open .wooscp-search-inner .wooscp-search-content {
    top: 50%;
}

.wooscp-search .wooscp-search-inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content {
    position: absolute;
    padding: 15px;
    top: 60%;
    left: 50%;
    width: 360px;
    height: 400px;
    max-width: 90%;
    max-height: 90%;
    background-color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-close {
    width: 32px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    top: -32px;
    right: -32px;
    color: #fff;
    text-align: center;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-input input {
    display: block;
    width: 100%;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-shadow: none;
    color: #222;
    background-color: #f2f2f2;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-appearance: none;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result {
    flex-grow: 1;
    margin-top: 15px;
    overflow-y: auto;
    position: relative;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li {
    display: block;
    padding: 10px 0;
    border: 1px solid #fafafa;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner {
    display: flex;
    align-items: center;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner .item-image {
    width: 48px;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner .item-image img {
    width: 48px;
    height: 48px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner .item-name {
    flex-grow: 1;
    padding: 0 10px;
    color: #222;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner .item-add {
    width: 48px;
    text-align: center;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner .item-add span {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #222;
    background-color: #f2f2f2;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result ul li .item-inner .item-add span:hover {
    color: #fff;
    background-color: #222;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result:after {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: -16px;
    margin-left: -16px;
    content: '';
    background-image: url("../images/curve.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8;
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    -ms-animation: spinner 1s linear infinite;
    -o-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
    opacity: 0;
    visibility: hidden;
}

.wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result.wooscp-loading:before, .wooscp-search .wooscp-search-inner .wooscp-search-content .wooscp-search-content-inner .wooscp-search-result.wooscp-loading:after {
    opacity: 1;
    visibility: visible;
}

.wooscp-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999979;
    box-sizing: border-box;
    pointer-events: none;
}

.wooscp-area .wooscp-inner {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.wooscp-area .wooscp-inner .wooscp-table {
    padding: 15px 15px 78px 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #292a30;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 99999997;
    pointer-events: none;
}

.wooscp-area .wooscp-inner .wooscp-table * {
    box-sizing: border-box;
}

.wooscp-area .wooscp-inner .wooscp-table.wooscp-table-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner {
    background-color: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner:before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 7;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner:after {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: -16px;
    margin-left: -16px;
    content: '';
    background-image: url("../images/curve.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    -webkit-animation: spinner 1s linear infinite;
    -moz-animation: spinner 1s linear infinite;
    -ms-animation: spinner 1s linear infinite;
    -o-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner.wooscp-loading:before, .wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner.wooscp-loading:after {
    opacity: 1;
    visibility: visible;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-close {
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-close .wooscp-table-close-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 52px;
    min-height: 52px;
    background-color: #eeeeee;
    background-image: url(../images/remove-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items {
    z-index: 5;
    height: 100%;
    position: relative;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items .wooscp-no-result {
    display: block;
    padding: 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table {
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 6;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table thead {
    z-index: 8;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table thead tr {
    border: none;
    margin: 0;
    padding: 0;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table thead tr th {
    position: relative;
    border-collapse: collapse;
    z-index: 8 !important;
    text-transform: uppercase;
    padding: 15px 15px 15px 0;
    margin: 0;
    min-width: 200px;
    max-width: 400px;
    vertical-align: middle;
    color: #43454b;
    font-weight: 700;
    text-align: left;
    background-color: #f7f7f7;
    border: none;
    border-image-width: 0;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table thead tr th:first-child {
    padding-left: 15px;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table thead tr th a {
    text-decoration: none;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody {
    z-index: 7;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr {
    border: none;
    margin: 0;
    padding: 0;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr td {
    position: relative;
    border-collapse: collapse;
    padding: 15px 15px 15px 0;
    vertical-align: middle;
    text-align: left;
    min-width: 200px;
    max-width: 400px;
    color: #43454b;
    font-weight: 400;
    border: none;
    z-index: 6;
    border-image-width: 0;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr td:first-child {
    z-index: 7;
    padding-left: 15px;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr td.td-placeholder {
    text-align: center;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr td.td-placeholder:before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 8px;
    background-color: #eeeeee;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-image td.td-placeholder {
    background-image: url("../images/placeholder.png");
    background-repeat: no-repeat;
    background-position: center;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-image td.td-placeholder:before {
    display: none;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-image a {
    text-decoration: none;
    outline: none;
    display: block;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-image img {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: auto;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-add_to_cart td p, .wooscp_table tbody tr.tr-add_to_cart td p {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-add_to_cart td p .amount, .wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-add_to_cart td p del, .wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-add_to_cart td p ins, .wooscp_table tbody tr.tr-add_to_cart td p .amount, .wooscp_table tbody tr.tr-add_to_cart td p del, .wooscp_table tbody tr.tr-add_to_cart td p ins {
    display: none !important;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr.tr-rating td .star-rating {
    float: left;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:nth-child(2n) td {
    background-color: #fbfbfb;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table tbody tr:hover td {
    background-color: #f8f8f8;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table.has-1 thead tr th, .wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table.has-2 thead tr th {
    width: 25%;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table.has-1 tbody tr td, .wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items table.has-2 tbody tr td {
    width: 25%;
}

.wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items .ps-scrollbar-x-rail, .wooscp-area .wooscp-inner .wooscp-table .wooscp-table-inner .wooscp-table-items .ps-scrollbar-y-rail {
    z-index: 999999;
}

.wooscp-area .wooscp-inner .wooscp-bar {
    width: 100%;
    height: 78px;
    position: fixed;
    left: 0;
    bottom: -80px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #292a30;
    color: #cfd2d4;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    flex-wrap: nowrap;
    z-index: 99999998;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn {
    height: 48px;
    line-height: 48px;
    padding: 0 20px 0 68px;
    position: relative;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #00a0d2;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    order: 1;
    margin-left: 15px;
    cursor: pointer;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn .wooscp-bar-btn-icon-wrapper {
    width: 48px;
    height: 48px;
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner {
    width: 16px;
    height: 12px;
    margin-top: 18px;
    margin-left: 16px;
    position: relative;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span:nth-child(1) {
    top: 0px;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span:nth-child(2) {
    top: 5px;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span:nth-child(3) {
    top: 10px;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn.wooscp-bar-btn-open .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn.wooscp-bar-btn-open .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn.wooscp-bar-btn-open .wooscp-bar-btn-icon-wrapper .wooscp-bar-btn-icon-inner span:nth-child(3) {
    top: 6px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-btn.wooscp-bar-btn-icon {
    font-size: 0;
    padding: 0;
    width: 48px;
    overflow: hidden;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-search {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url("../images/add.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-remove {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    margin: 0 0 0 10px;
    cursor: pointer;
    background-color: #e32718;
    background-image: url("../images/trash.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items {
    height: 48px;
    max-width: 70%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    text-align: right;
    order: 0;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    overflow: hidden;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item img {
    width: 48px;
    height: 48px;
    cursor: move;
    z-index: 6;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item .wooscp-bar-item-remove {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-image: url("../images/remove.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #292a30;
    z-index: 7;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item .wooscp-bar-item-remove:hover {
    background-color: #ff2222;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item.removing {
    opacity: .5;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item:hover .wooscp-bar-item-remove {
    opacity: 1;
    visibility: visible;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item:first-child {
    margin-left: 0px;
}

.wooscp-area .wooscp-inner .wooscp-bar .wooscp-bar-items .wooscp-bar-item:last-child {
    margin-right: 0px;
}

.wooscp-area .wooscp-inner .wooscp-bar.wooscp-bar-open {
    bottom: 0;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.wooscp-area .wooscp-inner .wooscp-bar[data-count="0"] .wooscp-bar-search {
    margin-right: 0;
}

.wooscp-area .wooscp-inner .wooscp-bar[data-count="0"] .wooscp-bar-remove, .wooscp-area .wooscp-inner .wooscp-bar[data-count="1"] .wooscp-bar-remove {
    display: none;
}

.wooscp-area.wooscp-bar-top .wooscp-inner .wooscp-table {
    padding: 78px 15px 15px 15px;
}

.wooscp-area.wooscp-bar-top .wooscp-inner .wooscp-bar {
    top: -80px;
    bottom: auto;
}

.wooscp-area.wooscp-bar-top .wooscp-inner .wooscp-bar.wooscp-bar-open {
    top: 0;
}

.wooscp-area.wooscp-bar-left .wooscp-inner .wooscp-bar {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.wooscp-area.wooscp-bar-left .wooscp-inner .wooscp-bar .wooscp-bar-btn {
    order: 0;
    margin-left: 0;
    margin-right: 15px;
}

.wooscp-area.wooscp-bar-left .wooscp-inner .wooscp-bar .wooscp-bar-remove {
    order: 1;
    margin: 0 10px 0 0;
}

.wooscp-area.wooscp-bar-left .wooscp-inner .wooscp-bar .wooscp-bar-items {
    order: 2;
    text-align: left;
}

.wooscp-area.wooscp-bar-left .wooscp-inner .wooscp-bar .wooscp-bar-search {
    order: 3;
    margin: 0 0 0 10px;
}

.wooscp-btn {
    cursor: pointer;
}

.wooscp-btn.wooscp-btn-adding:after {
    content: '...';
}

.wooscp-btn.wooscp-btn-added:before {
    content: '\2713';
    margin-right: 5px;
}

.wooscp-menu-item .wooscp-menu-item-inner {
    position: relative;
}

.wooscp-menu-item .wooscp-menu-item-inner:after {
    content: attr(data-count);
    display: block;
    background-color: #e94b35;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: -10px;
    right: -10px;
}

body.woocommerce-cart .wooscp-hide-checkout, body.woocommerce-checkout .wooscp-hide-checkout {
    display: none;
}

.wooscp_list {
    max-width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 767px) {
    .wooscp-bar .wooscp-bar-btn {
        font-size: 0 !important;
        padding: 0 !important;
        width: 48px !important;
        overflow: hidden;
    }
}

@media print {
    .wooscp_table .tr-add_to_cart {
        display: none;
    }
}