.page-title {
    padding-top: 260px;
    padding-bottom: 150px;
    background-position-x: -10px;
    background-position-y: 0;
    background-color: #f8f7f7;
    background-image: url(http://herbani.co.id/wp-content/themes/tm-organie/assets/images/big_title_bg.jpg);
}
.wpb_single_image img {
    height: auto;
    max-width: 65%;
    vertical-align: top;
}

@media (max-width: 768px) {
    .wpb_column.vc_column_container.vc_col-sm-4 {
        margin-bottom: 55px;
    }
    .product-countdown.col-md-6 {
        padding-bottom: 30px;
    }
}